.Button {
  position: relative;
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  color: white;
  border: 0;
  transition: 0.4s;
  margin: 5px 10px;
  background: linear-gradient(135deg, #6e6e6e, #2f2f2f);
  border-radius: 4px;
  transition: box-shadow 0.5s ease, transform 0.2s ease,
    background-color 0.5s ease;
  will-change: transform;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0))
    rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
}

.Button:hover{
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  background-color: linear-gradient(275deg, #6e6e6e, #2f2f2f);
}

.Success {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
}

.Success:hover::before {
  background: linear-gradient(0deg, #6e8efb, #a777e3);
}
