ul {
  padding: 10px 20px;
  list-style: square;
}
.button {
  padding: 5px;
  background-color: darkgray important!;
}
.titleBlock {
  display: flex;
}
.EducationDetail {
  margin: 10px 0;
}
.details {
  margin-left: 8px;
}
.date,
.location {
  order: 2;
  margin-left: auto;
}
