.ModalContainer {
  width: 60vw;
  max-width: 100%;
  left: 50%;
  top: 50%;
  position: fixed;
  z-index: 500;
  transform: translate(-50%, -50%);
  background: white;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.9);
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}
.Modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 50px 20px 20px;
}

/* @media (min-width: 600px) {
  .ModalContainer {
    width: 75vw;
    top: 10vh;
  }
} */

@media (max-width: 600px) {
  .ModalContainer {
    width: 100%;
  }
}
