.techLogo img {
  max-width: 50px;
  width: 100%;
  margin: 10px;
}
.tech {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px 0px;
}
.qrcode img {
  max-width: 80px;
}
/* .qrcode{
  max-width: 100px;
  margin: 0 auto;
  position: relative;
  float: right;
  top: -120px;
  text-align: center;
} */
.qrcode img {
  max-width: 100px;
}
