.logo {
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  background-image: url("../../assets/img/hong.png");
  background-repeat: no-repeat;
  background-size: 150px;
  width: 150px;
  margin-top: 12px;
}

.logoMobile {
  background-image: url("../../assets/img/logox2.png");
  background-size: 220px;
}

.logo img {
  height: 100%;
}
@media (max-width: 500px) {
  .SideLogo {
    background-position: -0px 8px;
    background-repeat: no-repeat;
    width: 110px;
  }
}
